[class*="col-"] {
	box-sizing: border-box;
	position: relative;
	float: left;
	display: block;
	margin-left: 0.4%;
	margin-right: 0.4%;
	height: 20%;
	margin-bottom: 1%;
}

@media only screen and (min-width: 1201px) {
	.col-1 {
		width: 7.533333333%
	}
	.col-2 {
		width: 15.866666667%
	}
	.col-3 {
		width: 24.2%
	}
	.col-4 {
		width: 32.533333333%
	}
	.col-5 {
		width: 40.866666667%
	}
	.col-6 {
		width: 49.2%
	}
	.col-7 {
		width: 57.533333333%
	}
	.col-8 {
		width: 65.866666667%
	}
	.col-9 {
		width: 74.2%
	}
	.col-10 {
		width: 82.533333333%
	}
	.col-11 {
		width: 90.866666667%
	}
	.col-12 {
		width: 99.2%
	}
	
	.blank{ display: inline-block !important }
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
		width: 49.2%;
	}
	.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		width: 99.2%;
	}
}

@media only screen and (max-width: 960px) {
	[class*="col-"] {
		width: 99.2%;
	}
}

/* Style */
body {
	padding: 20px;
}

[class*="col-"] {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #777;
	padding: 5px;
	text-align: center;
}


/** Personnalisation **/
.row {
	max-height: 300px;
	height: 300px
}
.blank {
	background: none;
	border: none;
	display: none; /* mobile first : on affiche pas les blancs sur petits écrans */
}

[class*="col-"] {
	height: inherit;
}